<main class="app__container">
  <h1>Manage users</h1>
  <search (search)="filterUsers($event)"></search>
  <button
    class="button button--primary"
    data-testid="add-user"
    (click)="addingUser = true"
  >
    Add new user
  </button>
  <user-form
    *ngIf="addingUser"
    title="Add new user"
    (submitUser)="createUser($event)"
    (closeModal)="addingUser = false"
  ></user-form>
  <user-form
    *ngIf="editingUser !== null"
    title="Edit user"
    (submitUser)="updateUser($event)"
    (closeModal)="editingUser = null"
    [user]="editingUser"
  />
  <ul>
    <div *ngIf="usersToDisplay.length === 0">
      No users matching your search, please try another term
    </div>
    <li class="text" *ngFor="let user of usersToDisplay">
      <user-record [user]="user" (edit)="openEditModal($event)"></user-record>
    </li>
  </ul>
</main>
